@model InvestNetwork.Models.UsersInfo

@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Layouts/_Layout.cshtml";
}

@section Styles{

}

@section Header{
    <div class="page_title">
        <div class="container">
            <div class="title">
                <h2>Информация пользователя</h2>
            </div>
        </div>
    </div>
}

<div class="container">
    <div class="content_left">
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)

            <fieldset>
                <legend>Информация пользователя</legend>

                <div class="accrodation">
                    <div class="join_row">
                        <div class="join_label">@Html.LabelFor(model => model.Family)</div>
                        <div class="join_element">
                            @Html.EditorFor(model => model.Family)
                        </div>
                    </div>

                    <div class="join_row">
                        <div class="join_label">@Html.LabelFor(model => model.Name)</div>
                        <div class="join_element">
                            @Html.EditorFor(model => model.Name)
                        </div>
                    </div>

                    <div class="join_row" style="display: none">
                        <div class="join_element">
                            @Html.HiddenFor(model => model.UserID)
                        </div>
                    </div>

                    <div class="join_row" style="display: none">
                        <div class="join_element">
                            @Html.HiddenFor(model => model.UsersInfoID)
                        </div>
                    </div>

                    <div class="join_row" style="display: none">
                        <div class="join_element">
                            @Html.HiddenFor(model => model.RegisterDate)
                        </div>
                    </div>

                    <div class="join_row">
                        <div class="join_label">@Html.LabelFor(model => model.Middle)</div>
                        <div class="join_element">
                            @Html.EditorFor(model => model.Middle)
                        </div>
                    </div>

                    <div class="join_row">
                        <div class="join_label">@Html.LabelFor(model => model.DateOfBirth)</div>
                        <div class="join_element">
                            @Html.EditorFor(model => model.DateOfBirth)
                        </div>
                    </div>

                    <div class="join_row">
                        <div class="join_label">@Html.LabelFor(model => model.Address)</div>
                        <div class="join_element">
                            @Html.EditorFor(model => model.Address)
                        </div>
                    </div>

                    <div class="join_row">
                        <div class="join_label">@Html.LabelFor(model => model.Citizenship)</div>
                        <div class="join_element">
                            @Html.EditorFor(model => model.Citizenship)
                        </div>
                    </div>

                    <div class="join_row">
                        <div class="join_label">@Html.LabelFor(model => model.PasportSerie)</div>
                        <div class="join_element">
                            @Html.EditorFor(model => model.PasportSerie)
                        </div>
                    </div>

                    <div class="join_row">
                        <div class="join_label">@Html.LabelFor(model => model.PasportNumber)</div>
                        <div class="join_element">
                            @Html.EditorFor(model => model.PasportNumber)
                        </div>
                    </div>

                    <div class="join_row">
                        <div class="join_label">@Html.LabelFor(model => model.PasportIssuedBy)</div>
                        <div class="join_element">
                            @Html.EditorFor(model => model.PasportIssuedBy)
                        </div>
                    </div>

                    <div class="join_row">
                        <div class="join_label">@Html.LabelFor(model => model.PasportIssueDate)</div>
                        <div class="join_element">
                            @Html.EditorFor(model => model.PasportIssueDate)
                        </div>
                    </div>

                    <div class="join_row">
                        <div class="join_label">@Html.LabelFor(model => model.PhoneNumber)</div>
                        <div class="join_element">
                            @Html.EditorFor(model => model.PhoneNumber)
                        </div>
                    </div>

                    <div class="join_row">
                        <input type="submit" value="Сохранить" />
                    </div>
                </div>
            </fieldset>
        }

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>

@section Scripts{

}