@model List<InvestNetwork.Models.PartycipationUsersInfo>

@{
    ViewBag.Title = "История участия";
    Layout = "~/Views/Layouts/_Layout.cshtml";
}

@section Styles{

}

@section Header{
    <div class="page_title">
        <div class="container">
            <div class="title">
                <h1>История участия</h1>
            </div>
        </div>
    </div>
}

<div class="container">
    <div class="content_left">
        <table class="table-list">
            <tr>
                <th>Имя проекта</th>
                <th>Статус проекта</th>
                <th>Взнос</th>
                <th>Статус взноса</th>
                <th>Дата взноса</th>
            </tr>

            @foreach (InvestNetwork.Models.PartycipationUsersInfo part in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => part.ProjectName)
                    </td>
                    <td>
                        @Html.DisplayFor(model => part.ProjectStatus)
                    </td>
                    <td>
                        @Html.DisplayFor(model => part.Sum)
                    </td>
                    <td>
                        @Html.DisplayFor(model => part.PaymentStatus)
                    </td>
                    <td>
                        @Html.DisplayFor(model => part.PaymentDate)
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

@section Scripts{

}
