@using InvestNetwork.Application.Core.Extensions.Html;

@model InvestNetwork.Models.Project

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Layouts/_Layout.cshtml";
}

@section Styles{}

@section Header{
    <div class="page_title">
        <div class="container">
            <div class="title">
                <h1>@Model.Name</h1>
            </div>
        </div>
    </div>
}

<div class="content_fullwidth">
    <div class="portfolio_area">

        <div class="portfolio_area_left">
            @Html.ProjectImage(Model.ID)
            <div class="mar_top3"></div>
            <h2>О проекте</h2>
            <div class="divider_line8"></div>
            @Html.Raw(HttpUtility.HtmlDecode(Model.Description))
        </div>

        <div class="portfolio_area_right">
            <a href="#" class="addto_favorites"><strong><i class="icon-heart"></i> В избранное</strong></a>

            <div class="project_details custom">
                <h3>Детали проекта</h3>
                <span><strong>Дней до окончания</strong> <em>@((Model.EndDate.Value - Model.StartDate.Value).Days)</em></span>
                <span><strong>Необходимо собрать</strong> <em>@Model.NecessaryFunding.Value.ToString("C0")</em></span>
                <span><strong>Собрано</strong> <em>@Model.Payments.Sum(s => s.Sum).ToString("C0")</em></span>
                <span><strong>Категория</strong> <em><a href="#">@Model.Scope.Title</a></em></span>
                <span><strong>Автор</strong> <em>@Html.UserLink(Model.AuthorID)</em></span>
                <div class="clearfix mar_top3"></div>
                
            </div>
            <a href="@Url.Action("DetermineAmount", "Funding", new {Id = Model.ID })" class="but_goback"><i class="icon-hand-right icon-large"></i> Инвестировать</a>
        </div>
        
    </div>
</div>

@section Scripts{}
